body {
    background-color: #2A2962;
}

.section-cadastro-container {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin-top: 24px;
    gap: 16px;
}

.section-cadastro-titulo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-cadastro-titulo-container h1 {
    font-family: "Metropolis Black";
    font-weight: bolder;
    font-size: 56px;
}

.section-cadastro-titulo-container > h1:nth-child(1) {
    color: #ffffff;
}
.section-cadastro-titulo-container > h1:nth-child(2) {
    color: #FE3600;
}

.section-cadastro-subtitulo-container  h5 {
    color: #ffffff;
}

.section-cadastro-input-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.section-cadastro-input-container div p {
    color: #ffffff;
    margin: 8px 0px;
    font-size: 12px;
}

.section-cadastro-input-container > div:nth-child(2) > span {
    color: #EA3800;
    font-size: 12px;
    margin-top: -0.18px;
    margin-left: 48px;
}

.section-cadastro-input {
    width: 248px;
    padding-left: 8px;
    height: 32px;
    border: none;
    border-radius: 4px;
}

.section-cadastro-button {
    margin-top: 8px;
    border: none;
    background-color: #FE3600;
    padding: 8px 72px;  
    color: white;
    border-radius: 56px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-family: "Metropolis Black", sans-serif;
}