.home-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    border: 1px solid black;
}

.home-titulos-container {
    border: 1px solid black;
    display: flex;
    gap: 24px;
    margin-top: 16px;
    margin-right: 32%;
}

.home-titulos-container > h1:nth-child(1) {
    color: #ffffff;
    font-size: 32px;
}
.home-titulos-container > h1:nth-child(2) {
    color: #FE3600;
    font-size: 32px;
}

.home-sub-titulos-container {
    margin-top: 32px;
    border: 1px solid black;
    margin-right: 8%;
}

.home-sub-titulos-container > h3 {
    font-size: 32px;
    color: #ffffff;
}

.home-mensagens-container {
    display: flex;
    flex-flow: column;
}

.home-mensagens-container p {
    color: white;
}