.titulo {
    display: flex;
    align-items: flex-end;
    margin-top: 130px;
    flex-direction: column;
    font-family: 'Metropolis Black', sans-serif;
    font-size: 40px;
    margin-left: 50px;

}
.content-container {
    display: flex;
    justify-content: space-between;
}

.destaque {
    display: inline;
    padding: 8px;
    background-color: #3e3576;
    border-radius: 24px;
    line-break: none;
    color: white;
}

.sub-titulo-container {
    margin-top: 48px;
}
.botao {
    font-size: 40px;
    margin-left: 50px;
    border-radius: 50px;
    border: none;
    background-color: #3e3576;
    cursor: pointer;
    margin-top: 50px;
    color: white;
    display: flex;
    align-items: flex-end;
}
.title-h1 {
    display: flex;
    align-items: center;
    
}