.header {
    height: 250px;
    background-color:#36357E;
}

.header h1 {
    font-family: 'Montserrat';
    font-size: 3rem;
    color: #fff;
    text-align: center;
}

.input {
    max-width: 616px !important;
}

