.header {
    height: 400px;
    background-color:#36357E;
}

.header h1 {
    font-family: 'Montserrat';
    font-size: 3rem;
    color: #fff;
}

.filtros {
    width: 1000px;
    height: 60px;
    color: grey;
    border-radius:20px;
}