

ul, li {
    list-style-type: none;
    display: inline;
    padding: 0 !important;
    font-size: 14px;
}

img.avatar {
    width:101px;
    height: 101px;
    border-radius: 100%;
    float:left;
    margin-right: 10px;
}

.modal {
    font-family: 'Montserrat', sans-serif;
    color: #262558;

    h6 {
        font-weight: 700;
        font-size: 20px;
    }
    .card-text{
        font-weight: 600;
    }
    .modal-header, .card{
        border: unset !important;

        button.btn-close {
            background: rgb(195,195,195);
            border-radius: 100px;
            padding: 15px;
            margin-top:-35px;
            margin-right: -35px;
        }
    }

    .hour,
    .btn-primary {
    background-color: #FE5517;
    padding: 8px 20px;
    margin-right: 16px;
    margin-top:3px;
    border-radius: 24px;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    border: unset;
    }

    .btn-agendar {
        width: 138px;
        font-size: 20px;
        font-weight: 800;
        margin:0px -30px -24px 0px;
    }

    .box-label {
        padding:11px;
        color:#fff;
        text-align:center;
        background-color: #EA3800;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        max-width: 470px;
        border-radius:10px;
        margin:10px 0px;
    }

}
section {
    font-family: 'Montserrat', sans-serif;

    .card {
        max-width:500px;
        background-color: #FEBBA2;
        color: #262558;
        z-index: -1;
        border-radius: unset;

        h6 {
            font-size: 18px;
            font-weight: 600;
        }

        .card-text {
            font-size: 16px;
        }
    }

    .btn {
        width: 162px;
        height: 48px;
        background-color: #EA3800;
        color: #FFF;
        font-weight: 700;
        border-radius: 24px;
        margin:-24px -30px 0px 0px;
        z-index: 1;

        a, a:hover {
            color: #FFF;
        }
    }
}

.skills-item-modal {
        background-color: #FE5517;
        text-transform: uppercase;
        padding: 12px 12px;
        margin-right: 16px;
        margin-top:3px;
        border-radius: 24px;
        color: #fff;
        font-weight: 600;
}

.skills-item {
    //div {
        background-color: #FE5517;
        text-transform: uppercase;
        padding: 12px 12px;
        margin-right: 16px;
        margin-top:3px;
        border-radius: 24px;
        color: #fff;
        font-weight: 600;
        display: inline-block;
    //}
}

.availableTimes {

    font-weight: 700;
    font-size: 14px;
    padding-top: 10px;
    
    .hour,
    .btn-primary {
        background-color: #1B1A3E;
        padding: 12px 26px;
        margin-right: 16px;
        margin-top:3px;
        border-radius: 24px;
        color: #fff;
        font-weight: 700;
        display: inline-block;
    }
}

button.hour:hover,
button.hour:active,
button.hour:focus {
    background-color: #1B1A3E !important;
}

.btn-search {
    border-radius: 24px !important;
    background-color: #EA3800 !important;
    color: #fff;
    margin-left: 20px !important;
    padding: 10px;
    border: unset;
}