* {
    color: #000;
}

section {

    .card {
        max-width:497px;
        background-color: #FEBBA2;
        max-height: 450px;
        z-index: -1;

        img {
            width:101px;
            height: 101px;
            border-radius: 100%;
            float:left;
            margin-right: 10px;
        }
    }

    .btn {
        width: 162px;
        height: 48px;
        background-color: #EA3800;
        color: #FFF;
        border-radius: 24px;
        margin:-24px -30px 0px 0px;
        z-index: 1;

        a, a:hover {
            color: #FFF;
        }
    }
}

.color-primary {
    background-color: #36357E;
    color:#fff;
}

.schedule {
    background-color: grey;
    height: auto;
    text-align: center;
    color: #fff;
    margin-top: -100px;
}

.schedule-item {
    background-color: #ccc;
    display: inline-flex;
    width: auto;
    margin:13px 5px 0px 0px;
    text-align: center;
    padding: 5px 10px;
    text-transform: uppercase;
}

.schedule-item .agenda {
    width: fit-content;
}

.skills-item {
    display: inline-flex;
    background-color: #f0f0f0;
    border-radius:20px;
    width: auto;
    padding:3px 6px;
    margin: 2px 2px;
    font-size: 12px;
    text-transform: uppercase;
}

ul,li {
    padding:unset !important;
    list-style-type: none;
}