.cadastro_container{
    width: 600px;
    margin: 0 auto;
    padding: 12em;
}

.cadastro_container_h1{
    width: 600px;
    margin: 0 auto;
    padding: 3em;
}

.newproject_container p{
    color: #7b7b7b;
}

.cadastro-title{
    color: black
}

.select-senioridade{
    color: black;
    font-size: 14px;
    padding-top: 15px;
}

.color-option{
    color: black;
}

.enviar-form{
    color:black;
    margin-left: 25px;
}